.counter {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#counterValue {
    font-size: 6rem;
    color: black;
    margin-bottom: 20px;
}
button {
    padding: 10px;
    font-size: 2rem;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    outline: none;
}
